body {
    background-image: linear-gradient(45deg, purple, blue);
    height: 100%;
    text-align: center;
    color: white;
}

.calculadora {
    position: absolute;
    background-color: black;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.botao {
    width: 50px;
    height: 50px;
    background-color: rgb(65, 59, 59);
    color: white;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.botao:hover {
    background-color: black;
    outline: none;
}

.calculadora table {
    margin: auto;
}

#resultado {
    width: 194px;
    border-radius: 10px;
    height: 30px;
    background-color: white;
    color: black;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
    padding: 10px;
}
